/Exercices Serie B/B03_Cistern/dist/
/Exercices Serie D/D12_RandomStatistics/nbproject/private/
/Exercices Serie D/D12_RandomStatistics/build/
/Exercices Serie D/D12_RandomStatistics/dist/
/Exercices Serie D/D13_TrigonometricCercle/nbproject/private/
/Exercices Serie D/D13_TrigonometricCercle/build/
/Exercices Serie D/D13_TrigonometricCercle/dist/
